body {
    background-color: rgb(181, 147, 212);
}

#container {
    display: flex;
    flex-direction: column;
}

#settingBoard {
    margin: auto;
}

#startBtn {
    margin-left: 10px;
}

#pauseBtn {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}

#pauseIcon {
    position: relative;
    height: 50px;
    width: 50px;
    left: 190px;
}

.settingItem {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

#statusBoard {
    margin: auto;
    display: flex;
}

#remainBoard,
#gradeBoard {
    display: flex;
    flex-direction: column;
}

#gradeBoard {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 320px;
}

.num {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-right: 15px;
}

#board {
    margin: auto;
    margin-top: 5px;
    width: 700px;
    height: 700px;
    font-size: 0px;
}

.pressBtn {
    margin: 0px;
    border: 1px solid rgb(0, 0, 0);
}