body {
    background-color: rgb(181, 147, 212);
}

#container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
}

#settingBoard {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: relative;
}

#startBtn {
    margin-left: 10px;
}

#startBtn,
#pauseBtn,
#soundEffectBtn,
#BGMBtn,
#hintBtn {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    position: absolute;
    left: 180px;
    bottom: -15px;
}

#pauseBtn {
    left: 238px;
}

#soundEffectBtn {
    left: 287px;
}

#BGMBtn {
    left: 335px;
}

#hintBtn {
    left: -240px;
}

#startIcon,
#pauseIcon,
#soundEffectIcon,
#BGMIcon,
#hintIcon {
    height: 45px;
    width: 45px;
}

.settingItem {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

#statusBoard {
    margin: auto;
    display: flex;
}

#remainBoard,
#gradeBoard {
    display: flex;
    flex-direction: column;
}

#remainBoard {
    margin-left: 10px;
}

.heartIcon {
    height: 30px;
    width: 30px;
}

#remainHP {
    visibility: hidden;
}

#gradeBoard {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 240px;
}

.num {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-right: 15px;
}

#board {
    margin: auto;
    margin-top: 5px;
    width: 650px;
    height: 650px;
    font-size: 0px;
}

.pressBtn {
    margin: 0px;
    border: 1px solid rgb(0, 0, 0);
}